<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phood</title>
    <link rel='stylesheet' href='css/main.css'>
    <script defer src="scripts/picture-hover.js"></script>
    <script defer src="scripts/picture-tabs-hover.js"></script>
    <script defer src="scripts/picture-icon-click.js"></script>
    <script defer src="scripts/page-load.js"></script>
    <script defer src="scripts/nav-links.js"></script>
</head>