<header>
    <div class="container-title">
        <h1 class='header-text-title'>Pho<span>(tos of fo)</span>od</h1>
        <!-- <p class='header-text-subtitle'>Phood</p> -->
    </div>
    <nav>
        <ul>
            <li><a href='http://localhost:3000'>Pheed</a></li>
            <li><a href='http://localhost:3000/create-post'>Create Post</a></li>
            <li><a href='http://localhost:3000/recipes'>Recipes</a></li>
        </ul>
    </nav>
</header>