<%- include('includes/head.ejs') %>
<body>
    <%-include('includes/navigation.ejs') %>
    <h2>Create a new post</h2>
    <div class='form-container'>
        <form method="POST" action="http://localhost:3000/create-post" enctype="multipart/form-data">
            <input type='text' name='description' placeholder="Short Description">
            <!-- <input type='date' name='date'> -->
            <div class="file-label">
                <input type='file' name='image' id='file'>
                <label for='file'>Choose Image</label>
            </div>
            <div class='post-to-pheed-button-container'><button type="submit" class='post-to-pheed-button'>Post to Pheed</button></div>
        </form>
    </div>
</body>
</html>
